@(message: String)(implicit flash: Flash)

@main("Play with Scala.js") {
	<nav> 
		<a href="/login">Login</a> | 
		<a href="/dashboard/">Dashboard</a> | 
		<a href="/incidentform/">Incident Report Form</a> | 
		<a href="/oshaform/">Osha's Form 300</a> | 
		<a href="/phoneapp">Get the App</a> 
	</nav> 
	<br></br> 
	<h2>Risk5</h2> 
	
	<p>Username: </p> <input id="lengthValue" type="text"> 
	<p>Password: </p> <input id="lengthValue" type="text">
	
	<script src="@routes.Assets.versioned("javascript/basicStuff.js")"></script>
}
